.container {
  display: inline-block;
  position: relative;
}
.image {
  width: inherit;
  height: inherit;
  object-fit: cover;
}
.loading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}